<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.theonlyanimal.secondstory">


    <!-- SCREEN SIZES  -->
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:anyDensity="true"
        />

    <!-- PERMISSIONS USED  -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- FEATURES USED  -->
    <uses-feature android:glEsVersion="0x00020000"/>
    <uses-feature android:name="android.hardware.camera"/>

    <application
        android:name="com.theonlyanimal.secondstory.application.SecondStory"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/NoActionBarFullscreen"
        android:launchMode="singleTask"
        android:largeHeap="true"
        >

        <!-- SPLASH SCREEN  -->
        <activity
            android:name="com.theonlyanimal.secondstory.activities.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MENU SCREEN  -->
        <activity
            android:name="com.theonlyanimal.secondstory.activities.MenuScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- GUIDE SCREEN  -->
        <activity
            android:name="com.theonlyanimal.secondstory.activities.GuideScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.GUIDE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- MAPS SCREEN  -->
        <activity
            android:name="com.theonlyanimal.secondstory.activities.MapsScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAPS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- GALLERY SCREEN  -->
        <activity
            android:name="com.theonlyanimal.secondstory.activities.GalleryScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.GALLERY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- SETTINGS SCREEN  -->
        <activity
            android:name="com.theonlyanimal.secondstory.activities.SettingsScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- FEEDBACK SCREEN  -->
        <activity
            android:name="com.theonlyanimal.secondstory.activities.FeedbackScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.FEEDBACK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- INSTANCE SCREEN  -->
        <activity
            android:name="com.theonlyanimal.secondstory.activities.InstanceScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.INSTANCE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- WELCOME SCREEN  -->
        <activity
            android:name="com.theonlyanimal.secondstory.activities.WelcomeScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.WELCOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- LOCATION SCREEN  -->
        <activity
            android:name="com.theonlyanimal.secondstory.activities.LocationScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.LOCATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- ABOUT SCREEN  -->
        <activity
            android:name="com.theonlyanimal.secondstory.activities.AboutScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.ABOUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- VIDEO SCREEN  -->
        <activity
            android:name="com.theonlyanimal.secondstory.ar.VideoPlayback"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIDEO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- FULLSCREEN  -->
        <activity
            android:name="com.theonlyanimal.ar.FullscreenPlayback"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <!-- FULLSCREEN YOUTUBE -->
        <activity
            android:name="com.theonlyanimal.ar.FullscreenYoutubePlayback"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <!-- FTP SERVICE -->
        <service android:name="FTPService" >
            <intent-filter>
                <action android:name="com.theonlyanimal.FTPService" >
                </action>
            </intent-filter>
        </service>

    </application>

</manifest>
