<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.theonlyanimal.secondstory"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- SDK  -->
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" 
    />

    <!-- SCREEN SIZES  -->
    <supports-screens
    	android:largeScreens="true"
   		android:normalScreens="true"
   		android:smallScreens="true"
   		android:anyDensity="true" 
    />
    
    <!-- PERMISSIONS USED  -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/NoActionBarFullscreen" >
        
        <!-- SPLASH SCREEN  -->
        <activity
            android:name="com.theonlyanimal.secondstory.SplashScreen"
            android:label="@string/app_name" 
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>    
        </activity>
        
        <!-- WELCOME SCREEN  -->
        <activity
            android:name="com.theonlyanimal.secondstory.WelcomeScreen"
            android:label="@string/app_name"
         >
            <intent-filter>
                <action android:name="android.intent.action.WELCOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>
